<!--<html>
<head>
  <title>
    Jassie's Blog </title>
  </head>

<p>Hi Hello!!!</p>
<p> Wow!!! It works!!!</p>
  <strong>Hi</strong>
</html>
-->
<html>
<head>
  <title>Django Girls blog</title>
</head>
<body>
  <div>
    <h1><a href=""> Django Girls Blog</a></h1>
  </div>
  <div>
    <p> published : 25.5.2017, 1:45</p>
    <h2><a href=""> My first post</a></h2>
    <p> I have worked very hard today to make Django run!!!</p>
  </div>

  <div>
    <p> published : 25.5.2017, 1:50</p>
    <h2> <a href=""> My Second post</a></h2>
    <p> Its working yeah!!!!!</p>
  </div>
</body>
</html>
